/* line 2, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
body, html {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

/* line 16, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
.fill {
  min-height: 100%;
  height: 100%; }

/* line 21, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
.top-section {
  position: relative; }

/* line 26, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
.header-section h1 {
  font-weight: 300;
  font-size: 40pt; }

/* line 33, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
.nav-buttons button {
  margin: 0 5px;
  border: 1px white solid;
  color: white;
  border-radius: 6px;
  background-color: transparent;
  font-weight: bold; }
/* line 41, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
.nav-buttons button:hover {
  color: rgba(255, 255, 255, 0.7); }

@media (max-width: 992px) {
  /* line 47, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
  small {
    display: none; }

  /* line 51, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
  hr {
    margin-top: 50px;
    margin-bottom: 50px; } }
@media (min-width: 992px) {
  /* line 58, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
  .major-section {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center; } }
/* line 70, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
.major-section {
  min-height: 400px; }
  /* line 73, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
  .major-section h1 {
    color: #039BE5;
    font-weight: 300; }
  /* line 77, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
  .major-section p {
    font-weight: 300;
    font-size: 15pt; }
  /* line 81, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
  .major-section .btn-info {
    background-color: #039BE5;
    border-color: #039BE5; }

/* line 87, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
.section {
  min-height: 450px; }
  /* line 90, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
  .section .title {
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-size: 60pt;
    font-weight: 300; }
  /* line 97, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
  .section .dynamic-text {
    text-align: center;
    color: white;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 35pt; }
    @media (max-width: 768px) {
      /* line 97, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
      .section .dynamic-text {
        font-size: 25pt; } }
  /* line 107, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
  .section .bottom-section {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0; }
    /* line 112, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
    .section .bottom-section h2 {
      font-weight: 300;
      color: white;
      margin-bottom: 0px; }

/* line 120, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
.about-us {
  background-color: #EEE;
  min-height: 300px;
  margin-top: 50px;
  padding: 0 40px;
  padding-bottom: 50px; }
  /* line 127, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
  .about-us .title {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #555;
    font-size: 35pt;
    font-weight: 300; }
  /* line 135, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
  .about-us .text {
    color: #777;
    font-size: 15pt;
    margin-bottom: 20px;
    text-indent: 25px; }
  /* line 141, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
  .about-us .profile {
    display: inline-block;
    margin: 10px 15px; }
    /* line 145, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
    .about-us .profile .name {
      color: #666;
      margin-top: 10px;
      font-size: 12pt; }
    /* line 151, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
    .about-us .profile .pic {
      border-radius: 50%;
      width: 125px;
      height: 125px;
      background-color: #777; }

/* line 160, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
.contact-us {
  position: relative;
  margin: 0;
  width: 100%;
  min-height: 300px; }
  /* line 163, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
  .contact-us h1 {
    color: white;
    font-weight: 300;
    font-size: 35pt; }
  /* line 168, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
  .contact-us p {
    color: white;
    font-size: 12pt; }
  /* line 172, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
  .contact-us a {
    color: white;
    font-size: 20pt; }
    /* line 176, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
    .contact-us a:hover {
      text-decoration: none; }
  /* line 180, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
  .contact-us .email {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 20pt;
    font-weight: bold; }
    @media (max-width: 768px) {
      /* line 180, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
      .contact-us .email {
        font-size: 14pt; } }

/* line 195, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
.project {
  margin: 20px 15px;
  border-radius: 6px;
  height: 600px; }
  /* line 199, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
  .project .name {
    margin-top: 10px;
    font-size: 35pt;
    text-align: center;
    color: #444;
    font-weight: 300; }
  /* line 206, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
  .project .subtitle {
    font-size: 16pt;
    margin: 10px 0px; }
  /* line 210, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
  .project .description {
    text-indent: 30px;
    font-size: 14pt;
    padding: 10px; }

/* line 217, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
.screenshot {
  max-height: 350px;
  padding: 10px;
  border-radius: 13px; }

/* line 224, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
.languages .item {
  color: white;
  border-radius: 8px;
  max-width: 100px;
  padding: 2px 10px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  font-size: 12.5pt; }

/* line 236, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
.red {
  background-color: #D84315; }

/* line 241, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
.main {
  background-color: #039BE5; }

/* line 245, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
.dark-orange {
  background-color: #F57C00; }

/* line 249, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
.yellow {
  background-color: #FBC02D; }

/* line 253, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
.lilac {
  background-color: #7986CB; }

/* line 257, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
.light-blue {
  background-color: #03A9F4; }

/* line 261, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
.grey {
  background-color: #424242; }

/* line 265, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
.light-grey {
  background-color: #eee; }

/* line 269, /Users/michael/Development/freelance-website/source/stylesheets/all.css.scss */
.medium-grey {
  background-color: #E0E0E0; }
